@import "../../../assets/scss/variables";

.home-course {
  margin-top: 40px;

  &__top {
    padding-top: 64px;
    padding-left: 40px;
  }
  &__heading {
    margin: 0;
    font-family: "Poppins";
    @include font(800, 56px, 64px, #1a1a1a);
    text-transform: capitalize;
  }

  &__text {
    margin: 24px 0 64px;
    max-width: 339px;
    font-family: "Poppins";
    @include font(400, 18px, 24px, #5c5c5c);
  }

  &__cards {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    gap: 8px;
  }
}
