/* poppins-400 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin_latin-ext-regular.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin_latin-ext-regular.woff") format("woff");
}
/* poppins-500 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin_latin-ext-500.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin_latin-ext-500.woff") format("woff");
}
/* poppins-700 */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin_latin-ext-700.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin_latin-ext-700.woff") format("woff");
}
/*russo-one */
/* russo-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/russo-one-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/russo-one-v14-latin-regular.woff") format("woff");
}
