//colors
$white: #ffffff;
$main-blue: #1d68f9;
$main-black: #1a1a1a;
$secondary-black: #5c5c5c;
$main-orange: #ff9d7b;
$main-gray: #f5f5f5;
$secondary-gray: #ebebeb;

//mixins
@mixin font($weight: '400', $size: '16px', $lh: '16px', $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}
