@import '../../../assets/scss/variables';
.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 16px;
}
.login {
  max-width: 608px;
  width: 100%;
  padding: 36px;
  background-color: $white;
  border: 1px solid $secondary-gray;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  &__logo {
    margin: 0;
    font-family: 'Russo One';
    @include font(400, 24px, 24px, #0550e0);
  }

  &__heading {
    margin: 24px 0 8px;
    font-family: 'Poppins';
    @include font(700, 40px, 48px, $main-black);
  }

  &__advice {
    font-family: 'Poppins';
    @include font(400, 18px, 24px, $secondary-black);
  }

  &__link {
    display: inline-block;
    margin-left: 50px;
    @include font(500, 18px, 24px, $main-blue);
  }

  &__form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Poppins';
    @include font(400, 18px, 24px, #000000);

    &:first-child {
      margin-bottom: 25px;
    }
  }

  &__controls {
    padding: 14px 0 14px 14px;
    background-color: $white;
    font-family: 'Poppins';
    @include font(400, 20px, 24px, $secondary-black);
    border: 1px solid #aca4a4;
    border-radius: 10px;
    outline: none;
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__reset {
    display: inline-block;
    margin: 10px 0 40px;
    font-family: 'Poppins';
    @include font(400, 16px, 24px, $main-blue);
  }
  &__retry {
    cursor: pointer;
    @include font(400, 16px, 12px, $main-blue);
  }

  &__btn {
    margin: 0;
    padding-block: 16px;
    background-color: $main-blue;
    font-family: 'Poppins';
    @include font(400, 28px, 24px, $white);
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px) {
    padding: 30px;
    &__heading {
      @include font(700, 32px, 32px, $main-black);
    }
    &__retry {
      @include font(400, 14px, 14px, $main-blue);
    }
    &__advice {
      @include font(400, 16px, 16px, $secondary-black);
    }
    &__link {
      @include font(500, 16px, 16px, $main-blue);
    }
    &__label {
      @include font(400, 16px, 16px, #000000);
    }
    &__controls {
      padding: 10px;
      @include font(400, 16px, 16px, $secondary-black);
    }
    &__reset {
      @include font(400, 14px, 14px, $main-blue);
    }
    &__btn {
      @include font(400, 24px, 24px, $white);
    }
  }
  @media only screen and (max-width: 500px) {
    padding: 20px;

    &__heading {
      @include font(700, 25px, 25px, $main-black);
    }
    &__retry {
      @include font(400, 12px, 12px, $main-blue);
    }
    &__advice {
      @include font(400, 14px, 14px, $secondary-black);
    }
    &__link {
      @include font(500, 14px, 14px, $main-blue);
    }
    &__label {
      @include font(400, 14px, 14px, #000000);
    }
    &__controls {
      @include font(400, 14px, 14px, $secondary-black);
    }
    &__reset {
      @include font(400, 12px, 12px, $main-blue);
    }
    &__btn {
      padding-block: 12px;
      @include font(400, 20px, 20px, $white);
    }
  }
}

.register__btn {
  margin-top: 30px;
}

.register__label {
  margin-top: 20px;
}
