@import "../../../assets/scss/variables";

.hero {
  margin-top: 60px;
  &-wrapper {
    padding: 48px 0 180px 40px;
    background-color: $main-blue;
    border-radius: 20px;
    background: {
      image: url("../../../assets/img/hero-girl.png");
      repeat: no-repeat;
      size: auto;
      position: bottom right;
    }
  }

  &__heading {
    max-width: 580px;
    margin: 0;
    font-family: "Poppins";
    @include font(700, 64px, 76px, #fafafa);
    text-transform: capitalize;
  }

  &__text {
    max-width: 262px;
    margin: 20px 0 64px;
    font-family: "Poppins";
    @include font(400, 16px, 20px, #f5f5f5);
    opacity: 0.6;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 22px;
    padding: 4px 4px 4px 28px;
    background-color: #ffffff;
    font-family: "Poppins";
    @include font(500, 16px, 16px, $main-blue);
    border-radius: 40px;
  }
}
