@import "../../../assets/scss/variables";

.teachers {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 72px 70px 72px 48px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }

  &__left {
    max-width: 532px;
    margin-top: 33px;
  }

  &__heading {
    margin: 0;
    font-family: "Poppins";
    @include font(700, 56px, 64px, #1a1a1a);
  }

  &__text {
    max-width: 339px;
    margin: 24px 0 0;
    font-family: "Poppins";
    @include font(400, 18px, 24px, #5c5c5c);
  }

  &__right {
    order: -1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 240px;
      height: 240px;
      background: $main-blue;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__card {
    border: 8px solid #f5f5f5;
    background-color: #dddee0;
    border-radius: 50%;
    z-index: 11;

    & > img {
      display: block;
    }
  }

  &__word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins";
    @include font(600, 32px, 32px, #fafafa);
    z-index: 2;
  }
}
