@import '../../../assets/scss/variables';

.topics {
  &-wrapper {
    padding: 64px 40px 40px;
    background-color: $main-orange;
    border-radius: 20px;
  }

  &__heading {
    margin: 0;
    font-family: 'Poppins';
    @include font(800, 56px, 64px, $white);
  }

  &__text {
    max-width: 339px;
    margin: 24px 0 64px;
    font-family: 'Poppins';
    @include font(400, 16px, 24px, #f5f5f5);
  }

  &__cards {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}
