@import "../../../../assets/scss/variables";

.tips-card {
  max-width: 360px;
  padding: 0px 0 43px 0;
  background-color: $white;
  border-radius: 20px;

  &__top {
    padding: 24px 0 16px 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid $secondary-gray;
  }

  &__heading {
    margin: 0;
    font-family: "Poppins";
    @include font(600, 18px, 20px, $secondary-black);
  }

  &__list {
    list-style-type: disc;
    padding-left: 36px;
  }

  &__item {
    font-family: "Poppins";
    @include font(400, 16px, 24px, $secondary-black);
  }

  &__item::marker {
    color: $main-orange;
  }
}
