@import "../../../../assets/scss/variables";

.footer {
  padding-bottom: 40px;

  &-wrapper {
    padding-inline: 40px;
    background-color: $main-gray;
    border-radius: 20px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-block: 64px;

    &__socials {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      background-color: $white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      overflow: hidden;
    }
  }

  &__logo {
    margin: 0 0 12px;
    font-family: "Russo One";
    @include font(400, 24px, 32px, $main-blue);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__heading {
      margin: 0 0 8px;
      font-family: "Poppins";
      @include font(700, 24px, 24px, #1a1a1a);
      text-transform: capitalize;
      color: #1a1a1a;
    }

    &__text {
      max-width: 204px;
      margin: 0 0 8px;
      font-family: "Poppins";
      @include font(400, 14px, 24px, $secondary-black);
    }

    &__link {
      font-family: "Poppins";
      @include font(400, 16px, 24px, $secondary-black);
      text-transform: capitalize;
    }
  }

  &__bottom {
    padding: 32px 0 33px 0;
    border-top: 1px solid #cccccc;

    &__text {
      margin: 0;
      font-family: "Poppins";
      @include font(500, 16px, 24px, $secondary-black);
      text-transform: capitalize;
    }
  }

  &__socials {
    display: block;
  }
}
