@import "./assets/scss/fonts";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin: 0;
  font-family: "Poppins", "Russo One" sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
