@import url("./assets/scss/_fonts.scss");

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  // height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", "Russo One", sans-serif;
}

main.main {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
