@import "../../../../assets/scss/variables";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 10px;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 599px;
    width: 100%;
  }

  &__logo {
    font-family: "Russo One";
    @include font(400, 24px, 24px, #0550e0);
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 28px;

    &__link {
      font-family: "Poppins";
      @include font(400, 16px, 16px, #1a1a1a);
      text-transform: capitalize;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 61px;
    background-color: #fa391f;
    border-radius: 30px;
    font-family: "Poppins";
    @include font(400, 16px, 16px, #ffffff);
    text-transform: capitalize;
  }
}
